[build]
  command = "npm run build"
  publish = ".next"

[[plugins]]
  package = "@netlify/plugin-nextjs"

  
[images]
  remote_images = [
    "https://images.pexels.com/.*",
    "https://source.unsplash.com/.*",
    "https://randomuser.me/.*"
  ]  
