/* @import "tailwindcss"; */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}
body {
  background-color: #f4f1ed; /* Matches your theme */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
.yarl__slide_image {
  cursor: grab !important;
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f1ed; /* Matches your theme */
}


@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

.skeleton {
  background: linear-gradient(
    90deg,
    #e0dcd7 25%,
    #f4f1ed 50%,
    #e0dcd7 75%
  );
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite;
  border-radius: 0.5rem;
}
.animate-filter-enter {
  opacity: 0;
  transform: scale(0.8);
  transition: opacity 250ms ease, transform 250ms ease;
}
.animate-filter-enter-active {
  opacity: 1;
  transform: scale(1);
}